* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  
  

}

  header{ 
    
    max-width: 100%;

  } 
  
  
  .contenedor-header{
    background-image: url(/images/onda.png) ;
    background-repeat: no-repeat;
    background-size: 100%;
    
 
    
    
   

  }
  
  
  .row{
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
   
    
  }
  .col-1{
    display: flex;
    flex-wrap: wrap;
   max-width: 50%;
   /* margin-top: 10%; */
   font-size: 30px; 
   text-align: start;
   padding-top: 5%;
  }
  .col-1 h1{
    color: white;
    font-size: 76px;
  font-weight: bold;
  line-height: 1.01

  }
  .col-1 p {
    color: white;
    font-family: Roboto;
  font-size: 26px;
  font-weight: 300;
  
  line-height: 1.5;
  
  text-align: left;
  color: #ffffff;
}
  
  .titulo{
    color: white;
    font-weight: 500;
    font-size: 50px;

  }
  .col-2{
    max-width: 39.9%;
  }
  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
    /* margin-top: 20%; */
  }
  .imagen-header{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .flotante-header{
    display: flex;
  }
 /* 
      ///////////////SOBRE NOSOTROS/////////////// */

  .contenedor{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
   }
  
  .row-2{
    display: flex;
    flex-wrap:wrap;
    
    justify-content: center;
    
    
    
    
  }
  .col3{
    width: 33.3%;
    flex-basis:30% ;
    min-width: 250px;
    margin:10px;
    flex-direction: column;
    border: solid white ;
    opacity: 0.9;
    border-radius: 10px;
    
    
    
    
  
    
    
  }
  
  
  .iconos{
    display: block;
  	margin-left: auto;
	  margin-right: auto
  }
  .col3 h3{
    margin-top: 30px;
    text-align: center;
    color: #f17d27;
  }
  .col3 h4{
    margin-top: 10px;
    text-align: center;
    color: #f17d27;
  }
  .col3 p{
    display: block;
  	margin-left: auto;
	  margin-right: auto;
    text-align: center;
    color: #606060;
    margin-top: 10px;

  }

  .col3 .largo{
    align-self: stretch;
  }  
    
  /* ----///////////////////// MAIN ///////////--- */
  
  /* ------------///////////////// TECNOLOGIA Y COMUNIDAD ////////////----------- */

   
   main{
    
  }
  .contenedor-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(/images/onda-2.png) ;
    background-repeat: no-repeat;
    
  }
  .row3{
    padding-top: 10%;
    display: flex;
    flex-wrap:wrap;
    
    justify-content: center;
  }
  .sobre-nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
    
    
 
  }
  .col4{
    display: flex;
    text-align: center;
    
    flex-direction: column;
    
    padding-top: 20%;
    
  }
  .col4 h2{
    color: #ea330b;
    font-size: 45px;
    text-align: center;
    line-height: 1.16;
    text-align: center;
   
    
  }
  .col4 h4{
    color:#606060;
    font-size: 20px;   
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
  }
  .col4 p{
    color:#606060;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
  }
 /* ---------------------------------otra seccion ( parte de abajo naranja)------------------ */
 
  .servicios{
    
    width: 100%;
    margin-top: 17%;
  }
  .servicios h1{
    
    color: white;
  }
  .contenido{
    display: flex;    
    flex-wrap:wrap ;
    width: 100%;
    
    
    

    
     
  }
  .contenido-texto{
    display: flex;
    flex-direction: row;
    width: 31%;
    flex-wrap: wrap;
    margin: 1%;

    
  }
  .prueba{
    width: 60%;
    text-align: start;

  }
  .prueba p{
    margin-top: 10px;
    font-size: 10px;
  }
  .prueba h2{
    font-weight: bold;
  }
  .prueba2{
    width: 30%;
    padding:5px;
  }
  .contenido-texto h2{
    
    color: white;
    font-size: bold;
    font-size: 18px;
    text-align: start;
  }
  .contenido-texto p {
   color: white;
   font-size: 16px;
   
  }
   /* ---------------------------------APARTADO DE ABAJO DE LAS 5 IAMGENES CON TEXTO------------------ */

   .apartado{
     display: flex;
    margin-top: 5%;
     padding: 10px;
     justify-content: space-around;
     width: 100%;
   }
   .texto3{
     display: flex;
     background-color: #7BB6B2
     padding: 17px 45px 15px 44px;
     border: 1px solid white;
     border-radius: 10px;
   }
  
  