* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  
}

  header{ 
    
    background-image: url(/images/onda.png);
    background-repeat: no-repeat;
    

  } 
  
  
  .contenedor-header{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
    

  }
  
  .col-1{
    display: flex;
    flex-wrap: wrap;
   /* margin-top: 10%; */
   font-size: ; 
   text-align: start;
   width: 59%;
   
  }
  .col-1 h1{
    color: white;
    font-size: 76px;
    font-weight: bold;
    /* line-height: 1.01; */
    text-align: start;

  }
  .col-1  {
    color: white;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: #ffffff;
}
  
  .titulo{
    color: white;
    font-weight: 300;
    font-size: 56px;
  }
  .col-2{
    max-width: 39.9%;
  }
  .col-2 img{
    max-width: 100%;
    padding: 50px 0;
    /* margin-top: 20%; */
  }
  .imagen-header{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  .cardio-protegida{
    font-size: 1.0em;
    font-weight: 700;
    border: solid 2px #ffffff;
    background-color: #7BB6B2;
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 5.0%;
  }
  /* ---------------------------- TERMINA EL HEADER--------------------- */


 /* 
      ///////////////SOBRE NOSOTROS/////////////// */
  .contenedor-sobre-nosotros{
    display: flex;
    width: 100%;
  }
  .contenedor{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
   }
  
  .row-2{
    display: flex;
    flex-wrap:wrap;
    
    justify-content: center;
    
    
    
    
  }
  .col3-1{
    width: 31%;
    text-align: center;
    /* flex-basis: 30%; */
    min-width: 250px;
    margin: 10px;
    flex-direction: column;
    border: solid white;
    opacity: 0.9;
    border-radius: 10px;
    border: solid 2px red
    
  }
  .col3-2{
    width: 31%;
    text-align: center;
    /* flex-basis: 30%; */
    min-width: 250px;
    margin: 10px;
    flex-direction: column;
    border: solid white;
    opacity: 0.9;
    border-radius: 10px;
    border: solid 2px red
    
  }
  .col3-3{
    width: 31%;
    text-align: center;
    /* flex-basis: 30%; */
    min-width: 250px;
    margin: 10px;
    flex-direction: column;
    border: solid white;
    opacity: 0.9;
    border-radius: 10px;
    border: solid 2px red
    
  }
  
  
  .iconos{
    display: block;
  	margin-left: auto;
	  margin-right: auto
  }
  .col3 h3{
    margin-top: 30px;
    text-align: center;
    color: #f17d27;
  }
  .col3 h4{
    margin-top: 10px;
    text-align: center;
    color: #f17d27;
  }
  .col3 p{
    display: block;
  	margin-left: auto;
	  margin-right: auto;
    text-align: center;
    color: #606060;
    margin-top: 10px;

  }

  .col3 .largo{
    align-self: stretch;
  }  
    

  
  /* ------------///////////////// TECNOLOGIA Y COMUNIDAD ////////////----------- */

   
   main{
    width: 100%;
   height: 100%;
  
  }
  .contenedor-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }
  .row3{
    
    display: flex;
    flex-wrap:wrap;
    padding-top: 11%;
    justify-content: center;
  }
  .que-hacemos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 26%;
    background: url(/images/onda-2.png);
    background-repeat: no-repeat;
    max-width: 2680px;
    
    
    
 
  }
  /* ----------------------PRIMERA IMAGEN--------------------- */
  .col-4{
    display: flex;
    text-align: center;
    width: 31%;
    flex-direction: column;
    /* padding: 36px; */
    width: 49%;
    
    
  }
  .col-4 h2{
    color: #ea330b;
    font-size: 45px;
    text-align: center;
    line-height: 1.16;
    text-align: center;
   
    
  }
  .col-4 h4{
    color:#606060;
    font-size: 20px;   
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
  }
  .col-4 p{
    color:#606060;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
  line-height: 1.5;
  }
  /* ----------------------SEGUNDA IMAGEN--------------------- */ 
  .col-5{
    display: flex;
    text-align: center;
    width: 31%;
    flex-direction: column;
    /* padding: 36px; */
    width: 49%;
    
  }
  .col-5 h2{
    color: #ea330b;
    font-size: 45px;
    text-align: center;
    line-height: 1.16;
    text-align: center;
   
    
  }
  .col-5 h4{
    color:#606060;
    font-size: 20px;   
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
  }
  .col-5 p{
    color:#606060;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
  line-height: 2;
  }
  /* ----------------------TERCERA IMAGEN---------------------  */
  .col-6{
    display: flex;
    text-align: center;
    width: 31%;
    flex-direction: column;
    /* padding: 36px; */
    width: 49%;
    
  }
  .col-6 h2{
    color: #ea330b;
    font-size: 45px;
    text-align: center;
    line-height: 1.16;
    text-align: center;
   
    
  }
  .col-6 h4{
    color:#606060;
    font-size: 20px;   
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
  }
  .col-6 p{
    color:#606060;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  text-align: left;
  line-height: 2;
  }

 /* ---------------------------------otra seccion ( parte de abajo naranja)------------------ */
 .contenedor-naranja{
   padding-top: 20%;
 }
  .servicios{
    
    width: 100%;
    /* margin-top: 17%; */
  }
  .servicios h1{
    
    color: white;
  }
  .contenido{
    display: flex;    
    flex-wrap:wrap ;
    width: 100%;
    
    
    

    
     
  }
  .contenido-texto{
    display: flex;
    flex-direction: row;
    width: 31%;
    flex-wrap: wrap;
    /* margin: 1%; */

    
  }
  .prueba{
    width: 60%;
    text-align: start;

  }
  .prueba p{
    margin-top: 10px;
    font-size: 10px;
  }
  .prueba h2{
    font-weight: bold;
  }
  .prueba2{
    width: 30%;
    padding:5px;
  }
  .contenido-texto h2{
    
    color: white;
    font-size: bold;
    font-size: 18px;
    text-align: start;
  }
  .contenido-texto p {
   color: white;
   font-size: 16px;
   
  }
   /* ---------------------------------APARTADO DE ABAJO DE LAS 5 IAMGENES CON TEXTO------------------ */

   .apartado{
     display: flex;
    margin-top: 5%;
     padding: 10px;
     justify-content: space-around;
     width: 100%;
   }
   .texto3{
     display: flex;
     background-color: #7BB6B2;
     padding: 17px 45px 15px 44px;
     border: 1px solid white;
     border-radius: 10px;
     padding: 20px;
    }
  /* ---------------------------------TESTIMONIO------------------ */
    .testimonio{
      display: flex;
      
      padding: 50px;
      
    }
    .testimonio-texto{
      text-align: end;
      line-height: 39px;

      
      
    }
    .video{
      width: 100%;
    }
    .contenido-testimonio{
      display: flex;
      align-items: center;
    }
    .contenido-testimonio img{
  
      padding: 20px;
  }
     
    
    .testimonio-texto h2{
      color: #ea330b;
      font-size: 42px;
      line-height: 52px;
      

    }
    /* .testimonio-texto h3{
      width: 901px;
      height: 6px;
      background-image: linear-gradient(left,#F40D18,#F37F22);
      margin: 22px 0 38px 7px
      
    } */
    .testimonio-texto p{
      color: #606060;
      font-size: 28px;
      line-height: 39px;
      margin: 20px
    }
    .contenido-testimonio p {
      

    }
    .mira-el-video{
      color: #ea330b;
      line-height: 52px;
      font-size: 21px;
      text-align: end;
      list-style:linear-gradient(#ea330b);
    }

       /* ---------------------------------fotos final------------------ */
    
    .fotos-final{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 100px;      
    }
    .titulo-final{
      text-align: center;
      margin-top: 30px;
      font-size: 25px;
      line-height: 39px;
      color: #606060;
      font-weight: bold;
    }
    .carrusel{
      display: flex;
      justify-content: center;
      
    }

    /* media queris */

    @media(){

    }