<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <!--  ///////----------- EMPIEZA EL HEADER---------//////// -->
  <header>
    <div class="">
      <div class="row">
        <div class="col-1">
          <p class="titulo">
            CREAMOS UN MODELO <br> INNOVADOR DE
          </p>
          <h1>ZONAS HELPERS</h1>
          <br>
          <p>Zonas Cardioprotegidas para organizar la respuesta <br>
            en casos de emergencia en una forma rápida y eficiente.
          </p>
          <br>
          <p class="cardio-protegida">Quiero mi Zona <br> Cardioprotegida</p>
        </div>
        <div class="col-2">
          <img class="imagen" src="/images/group.png" alt="" height="350px" width="">
        </div>

      </div>
      <div class="imagen-header">
        <img src="/images/image.png" alt="">
      </div>
    </div>

    <!--  ///////----------- TERMINA EL HEADER---------//////// -->

    <div class="contenedor">
      <div class="row-2">
        <div class="col3">
          <img class="iconos" src="/images/mano.png" alt="">
          <h3>¿Qué hacemos?</h3>
          <br>
          <p>Organizamos y Certificamos zonas <br> como CARDIO PROTEGIDAS, en base <br> a grupos de respuesta en la
            zona, <br> llamadas brigadas.</p>
        </div>
        <div class="col3 largo">
          <img class="iconos" src="/images/signo.png" alt="">
          <h3>¿Cómo lo hacemos?</h3>
          <br>
          <p> Organización e implementación de A a Z del modelo, incluyendo 3 pilares:</p>
          <br>
          <h4>Preparamos brigadas</h4>
          <p> de personas capacitadas en primera respuesta para casos de emergencia.</p>
          <h4>Tecnología de comunicación avanzada, basada en la geolocalización.</h4>
          <p>Desfibriladores Los distribuímos y visibilizamos en nuestra plataforma para optimizar el acceso a su uso.
          </p>
        </div>
        <div class="col3">
          <img class="iconos" src="/images/corazon.png" alt="">
          <h3>¿Cuál es nuestro impacto?</h3>
          <p>Con nuestro modelo, ninguna persona que se puede salvar, se va a morir. Queremos potenciar la cultura
            solidaria y el valor de la vida en la sociedad.</p>
        </div>

      </div>
    </div>


  </header>


  <main>

    <!-- ------------/////////////////// otra seccion "about us"///////////------------>
    <div class="sobre-nosotros">
      <div class="row-2">
        <div class="col4">
          <h2>Tecnología y Comunidad</h2>
          <h4>TECNOLOGÍA</h4>
          <p>a. Aplicación Móvil Helpers con Comunidad cerrada para la organización. <br>
            b. Dashboard Analytics de su Comunidad. <br>
            c. Usuarios, Usuarios Activos, Eventos participados</p>
          <h4>COMUNIDAD</h4>
          <p>a. Comunicación Interna, Noticias y Novedades. <br>
            b. Notificaciones Push. <br>
            c. Links a otros Sitios.</p>
        </div>
        <div class="col4">
          <img src="/images/imagen1.png" alt="">
        </div>
      </div>

      <!-- ////////////--------------- OTRA IMAGEN-------------///////// -->
      
      <div class="row-2">
        <div class="col4">
          <img src="/images/group@1x.png" " alt="">
           
        </div>
        <div class="col4">
          <h2>Desarrollo de comunidad</h2>
          <p>a. Menciones en Redes Sociales Helpers: Instagram,   Facebook, Linkedin y Twitter. <br>
            b. Presencia en Página Web Helpers. <br> 
            c. Señaletica Zona Helpers Protegida:Carteleria, stickers, stickers autos, material de<br> concientización para las familia. <br>
            d. Guia practica de Primeros Auxilios 
            </p>         
        </div>

      </div>

            <!-- ////////////--------------- OTRA IMAGEN-------------///////// -->

      <div class="row-2">
        <div class="col4">
          <h2>Tecnología y Comunidad</h2>
          <h4>TECNOLOGÍA</h4>
          <p>a. Aplicación Móvil Helpers con Comunidad cerrada para la organización. <br>
            b. Dashboard Analytics de su Comunidad. <br>
            c. Usuarios, Usuarios Activos, Eventos participados</p>
          <h4>COMUNIDAD</h4>
          <p>a. Comunicación Interna, Noticias y Novedades. <br>
            b. Notificaciones Push. <br>
            c. Links a otros Sitios.</p>
        </div>
        <div class="col4">
          <img src="/images/imagen1.png" alt="">
        </div>
      </div>
    </div>

  </main>




  <aside></aside>
  <footer></footer>
</body>

</html>