<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <!--  ///////----------- EMPIEZA EL HEADER---------//////// -->
  <header>
    <div class="contenedor-header">
      <div class="row">
        <div class="col-1">
          <h2 class="titulo">
            CREAMOS UN MODELO INNOVADOR DE
          </h2>
          <h1>ZONAS HELPERS</h1>

          <p>Zonas Cardioprotegidas para organizar la respuesta
            en casos de emergencia en una forma rápida y eficiente.
          </p>


        </div>
        <div class="col-2">
          <img class="imagen" src="/images/group.png" alt="" height="350px" width="">
        </div>

      </div>
      <div class="flotante-header">
        <p class="cardio-protegida">Quiero mi Zona Cardioprotegida</p>
      </div>
      <div class="imagen-header">
        <img src="/images/image.png" alt="">
      </div>

    </div>

    <!--  ///////----------- TERMINA EL HEADER---------//////// -->

    <div class="contenedor">
      <div class="row-2">
        <div class="col3">
          <img class="iconos" src="/images/mano.png" alt="">
          <h3>¿Qué hacemos?</h3>
          <br>
          <p>Organizamos y Certificamos zonas <br> como CARDIO PROTEGIDAS, en base <br> a grupos de respuesta en la
            zona, <br> llamadas brigadas.</p>
        </div>
        <div class="col3">
          <img class="iconos" src="/images/signo.png" alt="">
          <h3>¿Cómo lo hacemos?</h3>
          <br>
          <p> Organización e implementación de A a Z del modelo, incluyendo 3 pilares:</p>
          <br>
          <h4>Preparamos brigadas</h4>
          <p> de personas capacitadas en primera respuesta para casos de emergencia.</p>
          <h4>Tecnología de comunicación avanzada, basada en la geolocalización.</h4>
          <p>Desfibriladores Los distribuímos y visibilizamos en nuestra plataforma para optimizar el acceso a su uso.
          </p>
        </div>
        <div class="col3">
          <img class="iconos" src="/images/corazon.png" alt="">
          <h3>¿Cuál es nuestro impacto?</h3>
          <p>Con nuestro modelo, ninguna persona que se puede salvar, se va a morir. Queremos potenciar la cultura
            solidaria y el valor de la vida en la sociedad.</p>
        </div>

      </div>
    </div>


  </header>


  <main>
    <div class="contenedor-main">
      <!-- ------------/////////////////// otra seccion "about us"///////////------------>
      <div class="sobre-nosotros">
        <div class="row3">
          <div class="col4">
            <h2>Tecnología y Comunidad</h2>
            <h4>TECNOLOGÍA</h4>
            <p>a. Aplicación Móvil Helpers con Comunidad cerrada para la organización. <br>
              b. Dashboard Analytics de su Comunidad. <br>
              c. Usuarios, Usuarios Activos, Eventos participados</p>
            <h4>COMUNIDAD</h4>
            <p>a. Comunicación Interna, Noticias y Novedades. <br>
              b. Notificaciones Push. <br>
              c. Links a otros Sitios.</p>
          </div>
          <div class="col4">
            <img src="/images/imagen1.png" alt="">
          </div>
        </div>

        <!-- ////////////--------------- OTRA IMAGEN-------------///////// -->

        <div class="row-2">
          <div class="col4">
            <img src="/images/group@1x.png" " alt="">
           
        </div>
        <div class=" col4">
            <h2>Desarrollo de comunidad</h2>
            <p>a. Menciones en Redes Sociales Helpers: Instagram, Facebook, Linkedin y Twitter. <br>
              b. Presencia en Página Web Helpers. <br>
              c. Señaletica Zona Helpers Protegida:Carteleria, stickers, stickers autos, material de<br> concientización
              para las familia. <br>
              d. Guia practica de Primeros Auxilios
            </p>
          </div>

        </div>

        <!-- ////////////--------------- OTRA IMAGEN-------------///////// -->

        <div class="row-2">
          <div class="col4">
            <h2>Tecnología y Comunidad</h2>
            <h4>TECNOLOGÍA</h4>
            <p>a. Aplicación Móvil Helpers con Comunidad cerrada para la organización. <br>
              b. Dashboard Analytics de su Comunidad. <br>
              c. Usuarios, Usuarios Activos, Eventos participados</p>
            <h4>COMUNIDAD</h4>
            <p>a. Comunicación Interna, Noticias y Novedades. <br>
              b. Notificaciones Push. <br>
              c. Links a otros Sitios.</p>
          </div>
          <div class="col4">
            <img src="/images/imagen1.png" alt="">
          </div>
        </div>
      </div>
      <!-- ////////////--------------- contenido debajo naranja-------------///////// -->

      <div class="servicios">
        <h1>SERVICIOS</h1>
        <div class="contenido">
          <div class="contenido-texto">
            <div class="prueba2">
              <img src="/images/imagen2.png " alt="" height="" width=""> 
            </div>

            <div class="prueba">
              <h2>Preparación de brigadas</h2>

              <p>Capacitaciones primeros auxilios y asistencia en 
                emergencias. 
                 </p>
            </div>
          </div>
          <!-- ////////////--------------- OTRO CONTENIDO (2)-------------///////// -->
          <div class="contenido-texto">
            <div class="prueba2">
              <img src="/images/imagen5.png" alt="">
            </div>

            <div class="prueba">
              <h2>Tecnología exclusiva para la zona
                o brigada</h2>

              <p>App y creación de grupo en la app, acceso al back office, cargando todos los DEAS que hay en la zona
                cardio protegida. </p>
            </div>
          </div>
          <!-- ////////////--------------- OTRO CONTENIDO (3)-------------///////// -->
          <div class="contenido-texto">
            <div class="prueba2">
              <img src="/images/imagen4.png" alt="" height="" width="">
            </div>

            <div class="prueba">
              <h2>Material de capacitación anual para 
                aumentar conocimiento</h2>

              <p>Atención en emergencias de bebes y personas mayores, atención emocional, rescate y situaciones de emergencia frecuente. 
              </p>
            </div>
          </div>
          <!-- ////////////--------------- OTRO CONTENIDO (4)-------------///////// -->
          <div class="contenido-texto">
            <div class="prueba2">
              <img src="/images/imagen3.png" alt="" >
            </div>

            <div class="prueba">
              <h2>Operadores de primeros auxilios</h2>

              <p>en los casos reales que 
                acompañan en el evento online.
                 </p>
            </div>
          </div>
          <!-- ////////////--------------- OTRO CONTENIDO (5)-------------///////// -->
          <div class="contenido-texto">
            <div class="prueba2">
              <img src="/images/imagen6.png" alt="">
            </div>

            <div class="prueba">
              <h2>DEAS</h2>

              <p>En caso que es necesario vendemos los aparatos de los DEAS para la certificación de cardio protección. 
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="apartado">
        <div class="texto3">
          <p>Quiero tener mi brigada</p>
        </div>
        <div class="texto3">
          <p>Quiero hacer mi organizacion cardio protegida</p>
        </div>
        <div class="texto3">
          <p>Quiero mas informacion</p>
        </div>
      </div>
    </div>
    
    



  </main>




  <aside></aside>
  <footer></footer>
</body>

</html>